<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Home</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact us</a>
    </nav>
  </header>
  <main>
    <h1>Welcome to our Home Page</h1>
    hello and welcome ! if you need to know more about us please check our e-mail in the "contact us" area or check our services 
  </main>
</body>
</html>
